{{- $footer := .Site.Data.footer -}}
{{- $config := .Site.Data.config -}}
  <footer>
    <div class="container">
      {{- range $footer.links -}}
      <a href="{{- .href | absURL -}}" class="mx">{{- .text -}}</a>
      {{- end -}}
      <br>
      <p>{{- .Site.Data.footer.text -}}</p>
    </div>
  </footer>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>